<div class="panel panel-default">
	<div class="panel-heading">
					<h3 class="panel-title">
						Lorem Ipsum Dolor
					</h3>
				</div>
				<div class="panel-body">

  <p>Your'll pardon our dust, but we're building a site that will make lives easier and help parents take control of college financing goals. If you would like to try us out for free during our beta, fill out the form below to recieve and invite when its available.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
</div>
